.first-number-selection {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.digit-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1 / 1;
}

.first-x {
    margin: auto;
}