.grid-border {
    position: relative;
    border: 0.5rem solid var(--red);
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
    transition: 0.3s;
    width: 100%;
    aspect-ratio: 1;
}

.grid-border.p1 {
    border-color: var(--red);
}

.grid-border.p2 {
    border-color: var(--blue);
}

.grid {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    background-color: #ccc;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid #000;
}