.number {
    height: 2.5rem;
    min-width: 2.5rem;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 1.5rem;
}

.number.selected {
    background-color: var(--green)
}

.number.half-selected {
    background-color: rgb(148, 220, 148);
}