.number-circle {
    height: 5vh;
    min-width: 5vh;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: var(--yellow);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    font-size: 3vh;
    transition: 0.05s;
}

.number-circle:disabled {
    background-color: #ccc;
    border: none;
}

.number-circle.selected {
    background-color: var(--green);
    border: none;
}

.number-circle.half-selected {
    background-color: var(--light-green);
    border: none;
}