.number {
    height: 5vh;
    min-width: 5vh;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 3vh;
}

.number.selected {
    background-color: var(--green);
}

.number.half-selected {
    background-color: var(--light-green);
}