.settings-footer button {
    /* border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem; */
    font-weight: 500;
}

/* .save-button {
    background-color: var(--green);
} */

.setting-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-row p {
    font-size: 1.2rem;
}