.square {
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 1.75rem;
}

.p1Square {
    background-color: rgb(255, 116, 116);
}

.p2Square {
    background-color: rgb(145, 181, 255);
}

.selectedSquare {
    background-color: rgb(0, 161, 0);
}

.optionSquare {
    background-color: rgb(255, 255, 161);
}

.notOptionSquare {
    background-color: #eee;
}