.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 3vh;
    color: #000;
    transition: 0.1s;
}

.p1Square {
    background-color: var(--red);
}

.p2Square {
    background-color: var(--blue);
}

.selectedSquare {
    background-color: var(--green);
}

.optionSquare {
    background-color: var(--yellow);
}

.notOptionSquare {
    background-color: #eee;
}

.winningSquare {
    animation: pulse 1.5s infinite;
    box-shadow: 0 1px 3px 1px #333;
    z-index: 10;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
