.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #ccc;
    font-size: 3vh;
    color: #000;
    transition: 0.1s;
}

.p1Square {
    background-color: rgb(255, 116, 116);
}

.p2Square {
    background-color: rgb(145, 181, 255);
}

.selectedSquare {
    background-color: var(--green);
}

.optionSquare {
    background-color: var(--yellow);
}

.notOptionSquare {
    background-color: #eee;
}