.app-inner {
  	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: calc(100% - 2rem);
	max-width: 45vh;
	height: calc(100% - 2rem); 
	margin: 1rem auto;
}

.bottom {
	border: 1px solid #000;
	border-radius: 0.5rem;
	background-color: #f9f9f9;
	padding: 0.3rem;
}

.confirm {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 1rem auto;
	padding: 0rem;
	background-color: var(--green);
	border: none;
	border-radius: 0.3rem;
	height: 8vh;
	font-size: 4vh;
}

.confirm:disabled {
	background-color: #ccc;
	color: #666;
}

.confirm.disabled > *:not(:last-child) {
	margin: 0 0.7rem 0 0;
}

.confirm:active {
	filter: brightness(90%);
}

.confirm-select-circle {
	border-radius: 50%;
	background-color: var(--light-green);
	color: #000;
	height: 2.5rem;
    min-width: 2.5rem;
    border: none;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 1.5rem;
}