.App {
  	text-align: center;
}

.confirm {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 25rem;
	margin: 1rem auto;
	padding: 0rem;
	background-color: var(--green);
	border: none;
	border-radius: 0.3rem;
	height: 4rem;
	font-size: 1.5rem;
}

.confirm.disabled {
	background-color: #eee;
	color: #666;
}

.confirm.disabled > * {
	margin: 0 0.7rem 0 0;
}

.confirm:active {
	filter: brightness(90%);
}

.confirm-select-circle {
	border-radius: 50%;
	background-color: var(--light-green);
	color: #000;
	height: 2.5rem;
    min-width: 2.5rem;
    border: none;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-size: 1.5rem;
}
